body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #002b36;
    color: #93a1a1;
}

div.jumbotron {
    background-color: #073642;
}

/* Make it match the jumbotron's bg color */
.btn {
    background-color: #073642;
    color: #6c71c4;
}

.btn:hover {
    color: #d33682;
}

a {
    color: #6c71c4;
}

h1, h2 {
    font-family: 'Source Serif Pro', serif;
}

h1 {
    color: #859900;
}

h2 {
    color: #b58900;
}
