html {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    line-height: 1.35;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 50%;
    margin: auto;
}

pre {
    text-wrap-mode: unset;
}