@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    font-size: 0.95em;
    line-height: 1.5;
    font-family: "Arimo", sans-serif;
}

img {
    display: block;
    max-width: 25%;
    margin: auto;
}