:root {
  font-family: Inter, sans-serif !important;
  font-feature-settings: 'liga' 1, 'calt' 1 !important;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif !important;
  }
}

.montserrat {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}