body {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    line-height: 1.5;
    font-family: 'Georgia', serif;

    /* break long words at arbitrary points to prevent overflow */
    overflow-wrap: anywhere;

    /* gray 800 */
    color: #1f2937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Verdana', sans-serif;
}

img {
    display: block;
    max-width: 25%;
    margin: auto;
}