html {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    line-height: 1.5;
    font-family: 'Georgia', serif;

    /* neutral-800 */
    color: #262626;

    /* neutral-50 */
    background-color: #fafafa;
}

img {
    display: block;
    max-width: 25%;
    margin: auto;
}