html {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    line-height: 1.5;
    font-family: 'Georgia', serif;

    /* slate 700 */
    color: #334155;
}

img {
    display: block;
    max-width: 25%;
    margin: auto;
}