body {
    max-width: 60ch;
    padding: 2ch;
    margin: auto;
    line-height: 1.5;
    font-family: ui-sans-serif, sans-serif;
    /* font-family: 'Arial', sans-serif; */

    /* break long words at arbitrary points to prevent overflow */
    overflow-wrap: anywhere;

    /* slate 800 */
    color: #1e293b;
}

code {
    font-family: ui-monospace, monospace;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    /* sky 800 */
    color: #075985;
    line-height: 1.3;
}

img {
    display: block;
    max-width: 25%;
    margin: auto;
}