<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vinayak Gajjewar's website" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {{ content }}
    <h1>Recent posts</h1>
    <ul>
        {% for post in site.posts limit 5 %}
        <li>
            <a href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
            <small> — {{ post.date | date: "%B %d, %Y" }}</small>
        </li>
        {% endfor %}
    </ul>
</body>

</html>